<h1>Event page!!</h1>

{{ event.name }}
{{event.id}}

{{!-- {{#if deleting }} --}}
<form action="/events/{{event.id}}/delete" method="post" class="float-right">
  <button type="submit" class="btn btn-danger">
    <i class="fas fa-times"></i>
  </button>
</form>
{{!-- {{/if}} --}}
