<h2 id="event-list" class="m-3">List of events:</h2>
<div id="map"></div>
<ul>
  {{#each events as |event| }}
    <li class="list-item"> {{ event.name }} <a class="ml-3" href="/events/detail/{{ event.id }}"><em>See detail</em></a></li>
    <li class="list-item"> {{ event.location.coordinates }} </li>
  {{/each }}
</ul>
<a class="btn btn-primary mb-3" href="/events/create">New Event</a>
<a class="btn btn-primary mb-3" href="/">Back</a>

<script>
  var decodedJson = decodeURIComponent("{{{eventsCoordinates}}}");
  window.eventPoints = JSON.parse(decodedJson);
</script>