
<div class="topics">
    {{#each allCategories as |category|}}
        <div class="topics-item">
            <div class="card categories" style="width: 13rem;" data-category='{{category.id}}'>
                <img src="{{category.photo}}" class="card-img-top" alt="{{category.id}}">
                <div class="card-body">
                    <p class="card-text" style="text-align: center">{{category.name}}</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>

