body {
  font: 16px 'Raleway', sans-serif;
  background-color: #eeeded;
  color: #333366;
}

a {
  color: #00B7FF;
}

.row {
  margin-top: 40px
}

.container {
  margin-bottom: 50px;
}

.btn {
  background-color: #eb641c !important;
  border-color: #eb641c !important;
}

.event-list {
  height: 400px;
}

.profile-img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
  padding: 0;
  margin: 10px;
}

.general-button {
  width: 15rem;
  height: 2.7rem;
  background-color: #eb641c;
  border-color: #eb641c;
  cursor: pointer;
  margin-top: 1rem;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  box-sizing: border-box;
}

/* categories: */

.card{
  background: #fff;
  background-clip: padding-box;
  background-size: cover;
  border: 1px solid rgba(46,62,72,.12);
  border-radius: 8px;
  box-sizing: border-box;
  display: block;
}

.card.selected {
  opacity: 0.4;
}

#categories-form .category-input {
  display: none;
}

.custom-btn {
  min-width: 150px;
}

.hidden {
  display: none;
}

.topics {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 2rem;
}

.topics-item {
  display: flex;
  justify-content: center;
}

/* navigation bar: */

.navbar {
  height: 80px;
}

.navbar img {
  height: 45px;
}

.navbar-dark {
  background-color: #92a7b6;
  color: #333366;
}

.nav-ul-center {
  align-items: center;
}

.btn-fcb {
  display: flex;
  width: 13rem;
  height: 2.5rem;
  background-color: transparent;
  cursor: pointer;
  margin-top: .5rem;
  margin-bottom: .5rem;
  color: #fff;
  font-weight: 400;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.5;
  margin-right: 7rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}


.popup-align {
  left: -6rem;
}

/* events list: */

.list-map-container {
  padding: 0;
  margin-bottom: 20px;
  box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}

.list-map {
  width:  100%;
  height: 600px;
}

.info-window-img {
  height: 150px;
}

/* event detail: */

#event-name {
  color: #e63c1e;
}

.event-dates {
  color: #403f3f;
  font-size: 12px;
}

#owner-container {
  background-color: white;
  border-radius:20px;
  align-items: center;
  display: inherit;
  padding: .5rem;
}

#owner-container .rounded-circle {
  /* height: 90px; */
  margin: 10px;
}

.attendees {
  background-color: white;
  border-radius:20px;
  height: 220px;
}

.attendee-pic {
  justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: cover;
}

.attendee-pic{
  height: 80px;
  width: 80px;
}

.attendee-name {
    text-align: center;
    margin: 4px;
}

.attendant-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: .4rem;
}

.attendees-pic-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.more-participants {
  margin-top: 20px;
  text-align: right;
}

.content-map {
  background: #fff;
  border-radius: 1.5rem;
}

.image-map {
  margin-top: 1rem;
}

.event-info {
  margin: 1rem 0 0 1rem;
}

.detail-form {
  display: flex;
  justify-content: center;
}

.detail-button {
  padding: .5rem 2.5rem;
}
/* event list page */

.link-event{
  color: black;

}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 2.5rem 2rem 0 2rem;
}

.search {
  width: 35%;
  margin-bottom: 0;
}

.btn-list {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 8rem;
  height: 2.3rem;
  background-color: #eb641c;
  border-color: #eb641c;
  cursor: pointer;
  margin-top: 1rem;
  color: #fff;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  box-sizing: border-box;
}

/* unvisited link */
.link-event:link {
  color: black;
}

/* visited link */
.link-event:visited {
  color: black;
}

/* mouse over link */
.link-event:hover {
  color: black;
}

/* selected link */
.link-event:active {
  color: black;
}

.link-event:link {
  text-decoration: none;
}

.link-event:visited {
  text-decoration: none;
}

.link-event:hover {
  text-decoration: none;
}

.link-event:active {
  text-decoration: none;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-between;
}

.card-img-top-list {
  height: 60%;
}

.event-date {
  color: #e63c1e;
  margin-bottom: .5rem;
}

.event-attendant {
  color:  #403f3f;
  margin-bottom: 0;
}

.data-container-bottom {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/*new*/
.margin-top{
  margin-top: 30px;
}

/* profile page */

.profile-info {
  width: 55%;
  display: flex;
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 2rem;
}

.profile-info__data {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  margin-bottom: .8rem;
  font-size: .9rem;
  width: 20rem;
}

.info-title {
  margin-bottom: .3rem;
  color: #403f3f;
  font-size: .8rem;
}

.topics-container {
  flex-direction: column;
}

.profile-content__title {
  margin: 0 0 2rem 1rem;
}

.profile-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

/* create event */

.create-form {
  margin: 0px;
}

.label-margin {
  margin: 1rem 0 2rem 0;
}

/* my events */

.header-my-events {
  width: 45%;
  display: flex;
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 2rem;
}

.header-my-events h3{
  margin: 0;
}

.empty-events {
  margin: 1.5rem 0 0 3.5rem;
}
