body {
  font: 16px 'Raleway', sans-serif;
  background-color: #eeeded;
  color: #333366;
}

a {
  color: #00B7FF;
}

.row {
  margin-top: 40px
}

#map {
  width:  100%;
  height: 400px;
  margin-top:  20px;
}

/* categories: */

.card{
  background: #fff;
  background-clip: padding-box;
  background-size: cover;
  border: 1px solid rgba(46,62,72,.12);
  border-radius: 8px;
  box-sizing: border-box;
  display: block;
}

.card.selected {
  opacity: 0.4;
}

#categories-form .category-input {
  display: none;
}

.custom-btn {
  min-width: 150px;
}

.hidden {
  display: none;
}

/* navigation bar: */

.navbar img {
  height: 45px;
}

.navbar-dark {
  background-color: #92a7b6;
  color: #333366;
  margin-bottom: 30px;
}

.nav-ul-center {
  align-items: center;
}

.btn-nav-fb {
  border: none;
  background-color: none;
  color: white;
  width: 200px;
  margin: 180px;
}

/* event detail: */

#event-name {
  color: #e63c1e;
}

.event-dates {
  color: #403f3f;
  font-size: 12px;
}

#owner-container {
  background-color: white;
  border-radius:20px;
  align-items: center;
  display: inherit;
}

#owner-container .rounded-circle {
  height: 90px;
  margin: 10px;
}

.attendees {
  background-color: white;
  border-radius:20px;
  height: 220px;
}

.attendee-pic {
  justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.attendee-pic{
  height: 80px;
  width: 80px;
}

.attendee-name {
    text-align: center;
    margin: 4px;
}

.prueba {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: .4rem;
}

.attendees-pic-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.more-participants {
  margin-top: 20px;
  text-align: right;
  margin-right: 20px;
}

/* event list page */

.link-event{
  color: black;

}

/* unvisited link */
.link-event:link {
  color: black;
}

/* visited link */
.link-event:visited {
  color: black;
}

/* mouse over link */
.link-event:hover {
  color: black;
}

/* selected link */
.link-event:active {
  color: black;
}

.link-event:link {
  text-decoration: none;
}

.link-event:visited {
  text-decoration: none;
}

.link-event:hover {
  text-decoration: none;
}

.link-event:active {
  text-decoration: none;
}

.event-date{
  opacity: 0.4;
}

/*blablabla*/