<div class="container">
    <div class="row">
        <h4 class="mb-4 mt-4">Please, select at least 3 topics!</h4>
        {{> topics }}
    <div class="row text-center">
        <form class="col-12" id="categories-form" action="/categories" method='post'>
            <button class="btn btn-primary mt-4 custom-btn" type="submit">Done</button>
        </form>
    </div>
</div>

