<div class="container">
    <div class="row">
        <h4 class="mb-4 mt-4">Please, select -at least- 3 topics!</h4>
        <div class="row">
            {{#each allCategories as |category|}}
                <div class="col-4 mb-2 mt-2" style="display: flex; justify-content: center">
                    <div class="card categories" style="width: 18rem;" data-category='{{category.id}}'>
                        <img src="{{category.photo}}" class="card-img-top" alt="{{category.id}}">
                        <div class="card-body">
                            <p class="card-text" style="text-align: center">{{category.name}}</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="row text-center">
        <form class="col-12" id="categories-form" action="/categories" method='post'>
            <button class="btn btn-primary mt-4 custom-btn" type="submit">Done</button>
        </form>
    </div>
</div>

