<h1 id="home">HOME PAGE</h1>
<div class="container">
  <div class="row mb-3">
    <div id="map"></div>
  </div>
  <div class="row mb-3">
    <a class="btn btn-primary mb-3" href="../events/create">Create event</a>
  </div>
  {{session.email}}
</div>


