    <div class="container">

      <div class="profile-info">
        <div>
          <img class="rounded-circle" src="{{ session.photo }}" alt="profile pic">
        </div>
        <div class="profile-info__data">
          <span class="info-title">Email:</span>
          <span class="info">{{session.email}}</span>
          <span class="info-title">Name:</span>
          <span class="info">{{session.name}}</span>
        </div>
      </div>

      <div class="row topics-container">
        <h4 class="profile-content__title">Select at least 3 topics:</h4>
        <div id="profile-categories">
          {{> topics }}
        </div>
      </div>

      <div>
        <form class="col-12 profile-btn-container" id="categories-form" action="/profile" method='post' >
              <button type="submit" class="general-button">Edit</button>
        </form>
      </div>
    </div>
