    <div class="container">
      <div class="row flex-row">
      <img class="center rounded-circle" src="{{ session.photo }}" alt="profile pic"style="width:250px;height:250px;">
      {{!-- <h3 class="center">email: {{session.email}}</h3> --}}
      </div>
      <br>
      <br>
      <div>
        <h2 class="center">email: {{session.email}}</h2>
      </div>
      <br>
      <br>
      <div>
        <h2 class="center">name: {{session.name}}</h2>
      </div>
      <br>
      <br>
      <h2><p>interests:</p></h2>
      {{> topics }}
      <div>
        <form class="col-12" id="categories-form" action="/profile" method='post'>
            <button type="submit" class="center mt-3 btn btn-secondary">Edit</button>
        </form>
      </div>
    </div>